/ardour6/
/aurutils
/autostart
/Cadence/
/cef_user_data/
/chromium/
/configstore
/Cyberbotics
/dconf
/Debauchee/
/discord
/evince
/falkTX/
/flameshot
/fmit/
/fontforge/
/FreeCAD/
/.FreeCAD/AddonManager
/.FreeCAD/cookies
/.FreeCAD/Macro
/.FreeCAD/Mod
/gh
/GIMP
/GPlates/
/gtk-2.0/
/gtk-3.0/bookmarks
/gtkrc-2.0.kde
/gtkrc.kde
/guitarix/
/guvcview2/
/htop
/i3/config.save*
/i3/focused
/i3/lock-cache
/inkscape/
/jack/
/@joplin/
/joplin/
/joplin-desktop/
/karboncalligraphyrc
/kdeglobals
/kdenlive-layoutsrc
/kdenliverc
/keepassxc/
/kicad/5.99/3d_viewer.json
/kicad/5.99/fp-lib-table
/kicad/5.99/kicad_common.json
/kicad/5.99/kicad.json
/kicad/5.99/pcbnew.json
/kicad/5.99/sym-lib-table
/kicad/cvpcb
/kicad/eeschema
/kicad/fp-lib-table
/kicad/kicad
/kicad/kicad_common
/kicad/pcbnew
/kicad/sym-lib-table
/libreoffice
/libvirt/
/lpass
/matplotlib
/Meltytech/
/menus/
/Microsoft
/mimeapps.list
/MuseScore/
/nautilus
/neofetch
/nextjs-nodejs/
/octave/
/onedrive*
/pavucontrol.ini
/polybar/config.save*
/polybar/power/pow.txt
/polybar/stderr
/procps
/protonmail
/pulse
/qalculate
/QDirStat
/QtProject.conf
/rncbc.org/
/sftpman
/Signal
/Signal Beta
/signald/
/Slack
/sonic-visualiser/
/spotify
/StardewValley/
/teams
/unity3d/
/UnityHub/
/Unknown Organization/
/vimgolf/
/virt-viewer/
/vlc/
/vm
/xournalpp/autosave
/xournalpp/errorlogs
/xournalpp/metadata
/zoomus.conf
/Trolltech.conf
/kritadisplayrc
/kritarc
