/QDirStat
/Signal Beta
/Slack
/aurutils
/configstore
/dconf
/discord
/evince
/flameshot
/gtkrc-2.0.kde
/gtkrc.kde
/lpass
/matplotlib
/nautilus
/neofetch
/pavucontrol.ini
/procps
/pulse
/qalculate
/systemd
/i3/lock-cache
/i3/config.save*
/i3/focused
/gtk-3.0/bookmarks
/polybar/config.save*
/Microsoft
/spotify
/teams
/polybar/stderr
/xournalpp/autosave
/xournalpp/errorlogs
/xournalpp/metadata
/onedrive*
/mimeapps.list
/autostart
/gh
/Cyberbotics
/Signal
/protonmail
/QtProject.conf
/sftpman
/libreoffice
/GIMP
/htop
/kicad/5.99/kicad.json
/kicad/5.99/kicad_common.json
/kicad/eeschema
/kicad/fp-lib-table
/kicad/kicad
/kicad/kicad_common
/kicad/pcbnew
/kicad/sym-lib-table
/Unknown Organization/
/zoomus.conf
/inkscape/
/kicad/cvpcb
/libvirt/
/virt-viewer/
/FreeCAD/
/chromium/
/gtk-2.0/
/octave/
/.FreeCAD/AddonManager
/.FreeCAD/cookies
/.FreeCAD/Macro
/.FreeCAD/Mod
/StardewValley/
/keepassxc/
/signald/
/vm
/MuseScore/
/cef_user_data/
/fontforge/
/sonic-visualiser/
/vimgolf/
