[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=/usr/share/icons/Linebit/192x192/apps/spotify.png
TryExec=spotify
Exec=spotify %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
