[Desktop Entry]
Type=Application
Name=Toggle Keyboard
Icon=onboard
Exec=dbus-send --type=method_call --print-reply --dest=org.onboard.Onboard /org/onboard/Onboard/Keyboard org.onboard.Onboard.Keyboard.ToggleVisible
Terminal=false
