[Unit]
Description=Barrier Client Daemon
After=network.target

[Service]
ExecStart=/usr/bin/barrierc --no-daemon 192.168.1.75
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
